{{! Footer }}
<footer class="mt-32 bg-gray-900 sm:mt-56" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">

    {{! <Footer::Links /> }}

    <Footer::Newsletter />
    <Footer::Copyright />
  </div>
</footer>