{{! Mobile menu, show/hide based on menu open state. }}
<div class="lg:hidden" role="dialog" aria-modal="true">
  {{! Background backdrop, show/hide based on slide-over state. }}
  <div class="fixed inset-0 z-50"></div>
  <div
    class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
  >
    <div class="flex items-center justify-between">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">{{t "menu.company"}}</span>
        <ResponsiveImage class="!h-8 !w-auto" @src={{this.logo}} />
      </a>
      <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Close menu</span>
        <HeroIcon class="h-6 w-6" @icon="x-mark" />
      </button>
    </div>
    <div class="mt-6 flow-root">
      <div class="-my-6 divide-y divide-gray-500/10">
        <div class="space-y-2 py-6">

          {{#each @menuItems as |item|}}
            <button
              type="button"
              {{on "click" (fn this.scroll.to item.scrollTo)}}
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
            >{{t item.label}}</button>
          {{/each}}

        </div>
        <div class="py-6">
          {{! <a
            href="#"
            class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
          >Log in</a> }}
        </div>
      </div>
    </div>
  </div>
</div>