{{!
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
}}
<div
  {{scroll-into-view
    shouldScroll=this.scroll.topInView
    options=(hash behavior="smooth")
  }}
  class="bg-white"
>
  <Menu />

  {{outlet}}

  <Footer />
</div>